name: udevs_video_player
description: Play video natively and easily
version: 1.0.0
homepage: https://github.com/MobileUdevs/udevs_video_player.git

environment:
  sdk: '>=3.3.0 <4.0.0'
  flutter: ">=3.19.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  plugin:
    platforms:
      android:
        package: uz.udevs.udevs_video_player
        pluginClass: UdevsVideoPlayerPlugin
      ios:
        pluginClass: UdevsVideoPlayerPlugin